<section class="container-max-width pt-5 bg-dark s">
  <h1>i am mr.ilia</h1>
  <h2>it's my local buisnes</h2>

  <img
    src="https://static.startuptalky.com/2022/02/Tips-to-Become-Successful-Businessman-StartupTalky.jpg"
    alt="imige"
  />
  <p></p>
  <div>
    <p>Enjoy the website and comment</p>
  </div>
</section>
<section class="container-xl a pt-5">
  @for (item of masive; track $index) {
  <div class="card text-bg-dark mb-3" style="max-width: 18rem">
    <div class="card-header">{{ item.user.fullName }}</div>
    <hr />
    <div class="card-body">
      <p class="card-text">
        {{ item.body }}
      </p>
    </div>
  </div>
  }
  <p><button class="btn btn-dark" (click)="skip()">skip</button></p>

  <div class="d-flex">
    <input type="text" />
    <input type="text" />
    <button></button>
  </div>
</section>

